.banner {
	text-align: left;
	padding: 100px;
	padding-top: 180px;
	background-image: url("../../images/voyage.jpg");   
	background-size: cover;     
	background-position: bottom;
}
.banner h1{
	padding-top: 100px;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: whitesmoke;
}
.banner h2{
	padding-bottom: 40px;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	color: whitesmoke;
}